.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.titulo-tabela {
    font-size: 18px;
    color: black;
}

.entrada-sentenca {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.entrada-sentenca button {
    background-color: black;
    color: white;
    padding: 0 10px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
}

.entrada-sentenca input {
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    margin: 0 15px;
}

.tabela-pilha {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.linha-pilha td {
    border-bottom: 1px solid black;
}

.bt-prox {
    background-color: green;
    color: white;
    padding: 0 10px;
    height: 35px;
    border: 1px solid green;
    border-radius: 10px;
}

.bt-reiniciar { 
    background-color: red;
    color: white;
    padding: 0 10px;
    height: 35px;
    border: 1px solid red;
    border-radius: 10px;
}